@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(54, 80, 104);
    color: rgb(169, 189, 207);
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    width: 100%;
    background-color: rgb(70, 88, 121);
    text-align: center;
    padding: 20px 0px;
    
}

.main{
    width: 600px;
    padding: 15px 0px;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgb(70, 88, 121);
    font-size: 17px;
}

h2{
    margin-bottom: 25px;
}

input{
    width: 200px;
    background-color: transparent;
    border: 1px solid rgb(169, 189, 207);
    outline: none;
    font-size: 16px;
    padding: 4px 10px;
    color: rgb(169, 189, 207);
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 7px;
}

.button{
    margin: 0 auto;
    display: block;
    padding: 10px 30px;
    width: 100px;
    text-decoration: none;
    color: rgb(169, 189, 207);
    background-color: rgb(54, 80, 104);
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button:hover{
    background-color: rgb(59, 74, 100);
    transition: 0.2s;
}

.debt{
    width: 870px;
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(70, 88, 121);
    font-size: 17px;
    margin: 0 auto;
    margin-top: 40px;
}

.table{
    text-align: left;
    margin: 0 auto;
    margin-bottom: 40px;
}

.table td{
    padding: 20px 10px;
    text-align: center;     
    background-color: rgb(57, 85, 112);
    width: 230px;
    height: 40px;
    border-radius: 10px;
}

.debt h3{
    padding-top: 10px;
    margin-bottom: 20px;
}